body {
    color: white;
    background: rgb(8, 1, 17, 1);
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 60px;
} 

header {
  border-bottom: solid 2px rgb(101, 84, 171);
  padding: 20px;
  font-size: 32px;
  color: rgb(101, 84, 171);
}

.chamada {
  background: rgb(17, 0, 54);
  padding-top: 5px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.chamada-de-texto {
  margin-right: 5%;
}

h1{
  font-size: 50px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 60px;
}

.categoria-videos img {
  opacity: 0.5;
  height: 170px
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid purple;
}

.categoria h2 {
  color: rgb(101, 84, 171);
}